@model JobPortal.Models.Egitim

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Egitim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KurumAd" class="control-label"></label>
                <input asp-for="KurumAd" class="form-control" />
                <span asp-validation-for="KurumAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EgitimBaslik" class="control-label"></label>
                <input asp-for="EgitimBaslik" class="form-control" />
                <span asp-validation-for="EgitimBaslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Derece" class="control-label"></label>
                <input asp-for="Derece" class="form-control" />
                <span asp-validation-for="Derece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YilindanItibaren" class="control-label"></label>
                <input asp-for="YilindanItibaren" class="form-control" />
                <span asp-validation-for="YilindanItibaren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YilinaKadar" class="control-label"></label>
                <input asp-for="YilinaKadar" class="form-control" />
                <span asp-validation-for="YilinaKadar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sehir" class="control-label"></label>
                <input asp-for="Sehir" class="form-control" />
                <span asp-validation-for="Sehir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UlkeId" class="control-label"></label>
                <select asp-for="UlkeId" class ="form-control" asp-items="ViewBag.UlkeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonelId" class="control-label"></label>
                <select asp-for="PersonelId" class ="form-control" asp-items="ViewBag.PersonelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

